<!--render 'public/favorites/favorite', report: @???-->

<% if report.favorited_by?(current_user) %>
  <%= link_to report_favorites_path(report), method: :delete, remote: true do %>
    <p class="mr-1 text-dark"><i class="fas fa-heart heart-red"></i><%= report.favorites.count %></p>
  <% end %>
<% else %>
  <%= link_to report_favorites_path(report), method: :post, remote: true do %>
    <p class="mr-1 text-dark"><i class="far fa-heart heart-blue"></i><%= report.favorites.count %></p>
  <% end %>
<% end %>