<h1>ブックマーク一覧</h1>

<% @reports.each do |bookmark| %>
<div>
  <div><%= attachment_image_tag bookmark.report, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size: "100x100" %></div>
  <p><%= bookmark.report.title %></p>
  <p><%= bookmark.report.user.first_name %></p>
  <div>
    <%= link_to "詳細へ", report_path(bookmark.report.id) %>
  </div>
</div>
<% end %>
<p>########################</p>

