/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

.row {
  margin-top:10px;
}

.top-image {
  height: 300px;
  background-image: image-url("Hukabori_logo.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 1px 2px 3px #808080;
  text-align:center;
  padding:70px 0;
}

td {
  padding-right: 10px;
}

.heart-red {
  color:red;
}

.heart-blue {
  color:black;
}

.index-img {
  .image {
    height:100px;
  }
}

.show-img {
  .image {
    height:300px;
  }
}

.flex-item {
  width:300px;
}

.paginate {
  text-align: center;
  margin:10px auto;

  li {
    a{
      border: none;
      color: #696969;
    }
  }

  .active {
    a {
      border-radius: 5px;
    }
  }
}